body {
    overflow: hidden;   
}

th {
    text-align: left;
    background-color: #efefef;
    cursor: pointer;
}

tr.footer {
    background-color: #efefef;
}

main {
    margin-left: 12px;
    margin-right:25px;
}

.center {
    text-align: center;   
}

.delete {
    color: red; 
    cursor: pointer;
}

i{
    cursor: pointer;
}

#table-customer{
    text-align: center;
    
}

#conteudo{
    width: 80%;
    margin-left: 10%;
    padding: 15px 15px 15px 15px;
}

#table-customer >tbody >tr >th{
    text-align: center;
}